@use "colores.scss" as *;
@use "tipografias.scss" as *;
@use "imagenes.scss" as *;

body {
    background-color: #F0F0F0; /* Color de fondo gris claro */
}

h1 {
    background-image: linear-gradient(to left, red, green);
    display: flex;
    justify-content: center;
    padding: 100px;
    font-weight: bolder;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 10%;
}

.header .links li {
    display: inline-block;
    padding: 0 20px;
    text-align: left;
    list-style: none;
}

 .header .logo {
     cursor: pointer;
     transition: all 0.3s;
 }


.header .logo img:hover {
    transform: scale(1.1);
}

.header li:hover {
    transform: scale(1.8);
    transition: 0.5s;
    color: violet;
}

.header .links a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: transform 0.3s;
}

@media (max-width: 500px) {
    .header {
        background-color: aqua;
        height: auto;
    }

    .header .links li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .header .logo {
        text-align: center;
        padding-bottom: 10px;
    }

    .header .links {
        padding: 0;
    }
}

.parrafo-nocturno {
    text-align: center;
    font-size: 20px;
    margin: 20px 30px;
}

.imagenes-nocturno {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    background-color: black;
}

.imagen-nocturno-11,
.imagen-nocturno-3,
.imagen-nocturno-6,
.imagen-nocturno-19,
.imagen-nocturno-9,
.imagen-nocturno-10,
.imagen-nocturno-8 {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.imagen-nocturno-11:hover,
.imagen-nocturno-3:hover,
.imagen-nocturno-6:hover,
.imagen-nocturno-19:hover,
.imagen-nocturno-9:hover,
.imagen-nocturno-10:hover,
.imagen-nocturno-8:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: $color-principal;
    padding: 10px 0;
    text-align: center;
    color: $color-secundario;
}

footer .social-icons a {
    color: inherit;
    margin: 0 10px;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: darken($color-secundario, 70%);
}
