//Tamaños de fuente
$tamano-titulo-principal: 100px;
$tamano-titulo-secundario: 80px;
$tamano-nav: 40px;
$tamano-parrafo: 21px;

//Tipos de letra
$fuente-principal: "Roboto", sans-serif;
$fuente-secundaria: "Open Sans", sans-serif;

//Alineacion de los parrafos
$alineacion-parrafo: justify;
